/*---------------------------------
              Header
---------------------------------*/

header div
{
    display: flex;
    justify-content: space-between;
    background-color: rgb(209, 186, 255);
    padding: 1.15vw 1.25vw;
}


header div div form
{
    position: relative;
    width: 250px;

}

header div div form p input
{
    width: 100%;
    font-size: 1.6rem;
    border: none;
    border-radius: 14px;
    padding: 0 0 0 13px;
}

header div div form p button
{
    position: absolute;
    top: 0; right: 0;
    font-size: 1.5rem;
    border: none;
    background: transparent;
    outline: none;
}

header div div form p button span
{
    color: gray;
}

header div ul.links
{
    width: 30%;
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    font-size: 1.5rem;
}

header div ul.icones
{
    width: 10%;
    display: flex;
    justify-content: space-between;
    padding: 0 15px 0 0;
    padding-top: 25px;
    font-size: 1.5rem;
}

/*---------------------------------
              Footer
---------------------------------*/

footer{

background-color: rgb(209, 186, 255);;

}

footer ul li a{
    color: black;
}

footer ul.icones{

justify-content: center;
display: flex;

}

footer ul.cartoes{

justify-content: center;
display: flex;
font-size: 1.7rem;

}

footer ul.icones li{

margin: 0 3.5px 8px 3.5px;
font-size: 1.9rem;

}

footer ul.cartoes li{

margin: 0 3.5px 0 4.8px;

}

footer ul.contato{

font-size: 1.6rem;
margin: 0vw 0 2.5vw 0;
text-align: center;
padding: 2vw 0 0 0;

}

footer ul.contato li.telefone{

margin: 0 0 10px 0;

}

footer div{

font-size: 24px;
margin: 0 3vw 0 4vw;
padding: 0 0 1.1vw 0;

}