/*---------------------------------
              Header
---------------------------------*/
header
{
    background: #D1BAFF;
}

header div
{
    display: flex;
    justify-content: space-between;

    padding: 1.15vw 1.25vw;
}


header div div form
{
    position: relative;
    width: 250px;

}

header div div form p input
{
    width: 100%;
    font-size: 1.6rem;
    border: none;
    border-radius: 14px;
    padding: 0 0 0 13px;
}

header div div form p button
{
    position: absolute;
    top: 0; right: 0;
    font-size: 1.5rem;
    border: none;
    background: transparent;
    outline: none;
}

header div div form p button span
{
    color: gray;
}

header div ul.links
{
    width: 30%;
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    font-size: 1.5rem;
}

header div ul.icones
{
    width: 10%;
    display: flex;
    justify-content: space-between;
    padding: 0 15px 0 0;
    padding-top: 25px;
    font-size: 1.5rem;
}

/*---------------------------------
     Section - Lançamentos
---------------------------------*/

section.lancamentos h1
{
    font-size: 2rem;
    margin: 1vw 2vw;
}

section.lancamentos div.produtos
{
    display: flex;
    justify-content: space-between;
}

section.lancamentos div.produtos div
{
    width: 10%;
}

section.lancamentos div.produtos div img
{
    width: 100%;
    padding: 4px 0 4px 0;
}

section.lancamentos div.produtos div h2
{
    font-size: 1.5rem;
    padding: 4px 0 4px 0;
}

section.lancamentos div.produtos div p
{
    font-size: 1rem;
    color: grey;
    padding: 4px 0 4px 0;
}

section.lancamentos div.produtos div div
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 4px 0 4px 0;
}

section.lancamentos div.produtos div div p
{
    color: black;
}

section.lancamentos div.produtos div div p.coracao
{
    color: rgb(209, 186, 255);
}

section.lancamentos div.produtos div p.botao
{
    padding: 8px 0 8px 0;
    color: black;
    background-color: rgb(209, 186, 255);
    text-align: center;
    border-radius: 3px;
}

/*---------------------------------
        Section - Carrinho
---------------------------------*/

section.carrinho h1
{
    font-size: 2rem;
    color: rgb(110, 38, 255);
    margin: 1vw 2vw;
}

section.carrinho div.titulo
{
    border-bottom: 2px solid rgb(209, 186, 255);
    display: flex;
    justify-content: space-between;
    margin: 0 1vw 0 1vw;
}

section.carrinho div.titulo h2
{
    margin: 1vw 3vw;
    font-size: 1.5rem;
}

section.carrinho div.compra
{
    border-bottom: 2px solid rgb(170, 170, 170);
    display: flex;
    justify-content: space-between;
    margin: 0 1vw 0 1vw;
}

section.carrinho div.compra div.itens
{
    margin: 1vw 1vw 1vw 0;
    width: 35%;
    display: flex;
}

section.carrinho div.compra div.contador
{
    margin: 9vw 20vw 9vw 0;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    font-size: 1.5rem;
}

section.carrinho div.compra div.total
{
    margin: 9vw 3vw 9vw 0;
    font-size: 1.5rem;
}

section.carrinho div.compra div.contador button
{
    border: none;
    background-color: white;
    padding: 1vw;
    font-size: 1.5rem;
}

section.carrinho div.compra div.itens img
{
    width: 100%;
}

section.carrinho div.compra div.itens div
{
    margin: 6vw 0 6vw 0;
}

section.carrinho div.compra div.itens div h2
{
    font-size: 1.5rem;
    margin: 0 0 1vw 0;
}

section.carrinho div.compra div.itens div p.texto
{
    margin: 0 0 1vw 0;
    color: gray;
}

section.carrinho button.voltar
{
    margin: 1vw 2vw;
    background-color: white;
    padding: 1vw;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 1rem;
}